.overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
}

#dialog {
    overflow: auto;
    background-color: #fefefe;
    padding-top: 10px;
    min-height: 400px;
}

.about {
    margin-top: 20px;
    margin-left: 30px;
    color: #000000aa;
}

pre {
    height: 90%;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    font-size: 16px;
    font-family: Courier New;
    display: block;
    margin-top: 10px;
    height: 100%;
    padding: 30px;
    overflow: auto;
    word-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
}

.btn-close {
    font-size: 27px;
    text-decoration: none;
    position: absolute;
    color: #101010;
    top: 2px;
    right: 7px;
}

.blocklySvg, body, .holder {
    background-color: #F5F9FF;
}

.blocklyFlyoutBackground {
    fill: #F5F9FF !important;
    opacity: 0.9;
}

.blocklyFlyout {
    box-shadow: 3px 0px 3px #aaaaaa;
}

.blocklyToolboxDiv {
    fill: #FFFFFF !important;
}

.custom-renderer-renderer.classic-theme .blocklySelected > .blocklyPath {
    stroke: #bdf6fbf5;
    stroke-width: 3px;
}

.custom-renderer-renderer.classic-theme .blocklyHighlightedConnectionPath {
    stroke: #bdf6fbf5;
    stroke-width: 3px;
}

.blocklyTreeRow:not(.blocklyTreeSelected) {
    background-color: #F5F9FF;
    opacity: 0.9;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #fff;
    opacity: 0.6;
}

.blocklyToolboxDiv {
    background-color: #F5F9FF;
    opacity: 0.9;
}

.blocklyDropDownDiv, .blocklyDropDownArrow {
    background-color: #F5F9FF;
    opacity: 0.93 !important;
}